@charset "UTF-8";

@font-face {
  font-family: 'TT Hoves';
  src: url("../fonts/TTHoves-Bold.eot");
  src: local("../fonts/TT Hoves Bold"), local("TTHoves-Bold"), url("../fonts/TTHoves-Bold.eot") format("embedded-opentype"), url("../fonts/TTHoves-Bold.woff2") format("woff2"), url("../fonts/TTHoves-Bold.woff") format("woff"), url("../fonts/TTHoves-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url("../fonts/TTHoves-Regular.eot");
  src: local("../fonts/TT Hoves Regular"), local("TTHoves-Regular"), url("../fonts/TTHoves-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTHoves-Regular.woff2") format("woff2"), url("../fonts/TTHoves-Regular.woff") format("woff"), url("../fonts/TTHoves-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url("../fonts/TTHoves-Light.eot");
  src: local("../fonts/TT Hoves Light"), local("TTHoves-Light"), url("../fonts/TTHoves-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/TTHoves-Light.woff2") format("woff2"), url("../fonts/TTHoves-Light.woff") format("woff"), url("../fonts/TTHoves-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Heavy.eot");
  src: local("../fonts/SF_Pro/SF Pro Display Heavy"), local("SFProDisplay-Heavy"), url("../fonts/SFProDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay-Heavy.woff") format("woff"), url("../fonts/SFProDisplay-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  padding: 0px 0px 60% 0px;
  overflow: hidden;
  position: relative;
}

.ibg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.btn {
  width: 222px;
  height: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 00.4s;
  -o-transition: 00.4s;
  transition: 00.4s;
}

.btn span {
  font-family: TT Hoves;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 102px;
  padding: 0px 135px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li {
  cursor: pointer;
  margin: 0px 60px 0px 0px;
  color: black;
  font-family: "TT Hoves";
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333333;
  padding: 3px 0px 3px 0px;
}

.header__list li:hover {
  border-bottom: solid 1px #333333;
  border-top: solid 1px #333333;
}

.header__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 135px;
}

.slider__nav {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider__nav p {
  font-family: "TT Hoves";
  font-weight: 300;
  font-size: calc(24px + 40 * (100vw / 1440));
  color: #BDBDBD;
}

.slider__nav span {
  font-family: "TT Hoves";
  font-weight: bold;
  font-size: calc(24px + 40 * (100vw / 1440));
  line-height: 64px;
}

.slider__title {
  -webkit-transform: translate(-60%) rotate(-45deg);
      -ms-transform: translate(-60%) rotate(-45deg);
          transform: translate(-60%) rotate(-45deg);
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.slider__title._active {
  -webkit-transform: translate(0px) rotate(0);
      -ms-transform: translate(0px) rotate(0);
          transform: translate(0px) rotate(0);
  opacity: 1;
}

.slider__buttons {
  margin: 90px 0px 94px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__buttons:last-child {
  margin: 0px 10px 0px 0px;
}

.slider__arrow {
  background: url(../img/icons/arrows.svg) center no-repeat;
  width: 20px;
  height: 20px;
}

.slider__next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider__prev,
.slider__next {
  cursor: pointer;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 53px;
  height: 53px;
  background-color: #FFFFFF;
  border: 1px solid #F2F2F2;
}

.slider__prev:last-child,
.slider__next:last-child {
  margin: 0px 0px 0px 23px;
}

.slider__prev:hover,
.slider__next:hover {
  background-color: #F2F2F2;
}

.slider__counter {
  position: relative;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 40px 100px 0px;
}

.slider__counter span {
  position: absolute;
  left: 50px;
  height: 45px;
  border-right: 2px solid #E0E0E0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider__min,
.slider__max {
  padding: 10px 0px 0px 0px;
  font-family: "TT Hoves";
  font-size: 24px;
  line-height: 24px;
  color: #BDBDBD;
}

.slider__btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "TT Hoves";
  width: 222px;
  height: 71px;
  position: relative;
  top: -71px;
  left: -1px;
  background-color: white;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333333;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 1;
}

.slider__sliders {
  -webkit-transform: translate(60%) rotate(45deg);
      -ms-transform: translate(60%) rotate(45deg);
          transform: translate(60%) rotate(45deg);
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 770px;
}

.slider__sliders._active {
  -webkit-transform: translate(0) rotate(0);
      -ms-transform: translate(0) rotate(0);
          transform: translate(0) rotate(0);
  opacity: 1;
}

.slider__line {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__container {
  max-width: 1170px;
}

.info__main {
  background-color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info__column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__column {
  margin: 0 auto;
}

.info__column1 {
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  padding: 0px 10px 0px 0px;
}

.info__column1._active {
  opacity: 1;
}

.info__image1 {
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  text-align: center;
  padding: 30px 0px 0px 100px;
}

.info__image1 img {
  max-width: 100%;
}

.info__image1._active {
  -webkit-transform: scale(100%);
      -ms-transform: scale(100%);
          transform: scale(100%);
}

.info__image2 {
  opacity: 0;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  text-align: center;
  position: relative;
  top: 30px;
  padding: 0px 0px 0px 100px;
}

.info__image2 img {
  max-width: 100%;
}

.info__image2._active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.info__image3 {
  opacity: 0;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  padding: 60px 30px 0px 30px;
}

.info__image3 img {
  max-width: 100%;
}

.info__image3._active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.info__title {
  white-space: nowrap;
  font-family: "TT Hoves";
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
  padding: 40px 0px 20px 0px;
  max-width: 400px;
  margin: 0 auto;
}

.info__description {
  display: block;
  position: relative;
  padding: 0px 10px 20px 10px;
  font-family: "TT Hoves";
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  max-width: 400px;
}

.info__button {
  position: relative;
  top: -10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "TT Hoves";
  width: 222px;
  height: 71px;
  background-color: white;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333333;
}

.task {
  max-width: 1170px;
}

.task__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.task__title {
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  padding: 0px 10px 0px 10px;
  margin: 120px 0px 40px 0px;
  font-family: "TT Hoves";
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
}

.task__title._active {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.task__column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 20px 0px 0px 0px;
}

.task__num {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotate(-360deg);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "SF Pro Display";
  font-weight: 900;
  font-size: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F2F2F2;
}

.task__num._active {
  opacity: 1;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.task__text {
  padding: 3px 10px 0px 135px;
  font-family: "TT Hoves";
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  min-height: 200px;
}

.task__text._text {
  max-width: 413px;
}

.project__container {
  max-width: 1170px;
  position: relative;
  padding-bottom: 80px;
}

.project__anim-left {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
  opacity: 0;
}

.project__anim-left._active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.project__anim-right {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.8s ease 1s;
  -o-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
  opacity: 0;
}

.project__anim-right._active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.project__title {
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-top: 20px;
  padding: 0px 10px;
  font-family: "TT Hoves";
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
  margin-bottom: 60px;
}

.project__title._active {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.project__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__hover {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #333333d3;
}

.project__image {
  position: relative;
  margin: 15px 15px;
}

.project__image img {
  max-width: 100%;
}

.project__button {
  text-align: right;
  background-color: #333333;
  position: absolute;
  right: 15px;
}

.hover-project__content {
  padding: 48px 79px 0px 79px;
  width: 100%;
}

.hover-project__title span {
  font-family: "TT Hoves";
  font-weight: bold;
  font-size: calc(8px + 46 * (100vw / 1920));
  color: #FFFFFF;
}

.hover-project__btn {
  white-space: nowrap;
  display: inline-block;
  font-family: Gothic A1;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 14px 0px 0px 0px;
  -webkit-transition: 00.4s;
  -o-transition: 00.4s;
  transition: 00.4s;
}

.hover-project__btn:hover {
  -webkit-transition: 00.4s;
  -o-transition: 00.4s;
  transition: 00.4s;
  text-decoration: underline;
}

.mod-hover {
  padding: 60px 0px 10px 10px;
}

.mod-hover__title span {
  font-size: calc(5px + 30 * (100vw / 1920));
}

.forms {
  margin-bottom: 120px;
}

.forms__container {
  max-width: 1170px;
  padding: 0px 10px;
}

.forms__image {
  -webkit-transform: scale(0.01);
      -ms-transform: scale(0.01);
          transform: scale(0.01);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-left: 20px;
  width: 749px;
  height: 369px;
}

.forms__image._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.forms__title {
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-top: 120px;
  margin-bottom: 22px;
  font-family: "TT Hoves";
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
}

.forms__title._active {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.forms__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forms__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.forms__column img {
  max-width: 100%;
}

.form {
  position: relative;
}

.form__body {
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin: 0 auto;
  padding-bottom: 10px;
}

.form__body._active {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(153, 149, 153, 0.438) url(../img/loading.gif) center/70px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__item {
  margin: 10px 0px 0px 0px;
}

.form__item:first-child {
  margin: 0px 0px 0px 0px;
}

.form__input {
  background: #F3F3F3;
  height: 46px;
  width: 100%;
  padding: 0px 0px 0px 20px;
}

.form__input:last-child {
  padding: 10px 20px;
}

.form__input._error {
  -webkit-box-shadow: 0 0 5px red;
          box-shadow: 0 0 5px red;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px #777;
          box-shadow: 0 0 15px #777;
}

.form__button {
  background: #333333;
  color: #FBFBFB;
}

.select {
  width: 100%;
  height: 40px;
  font-size: 25px;
  padding: 0px 0px 0px 10px;
  border: solid 2px blue;
}

.checkbox {
  margin: 20px 0px;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__lable::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox__lable {
  cursor: pointer;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "TT Hoves";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #333333;
}

.checkbox__lable::before {
  content: '';
  position: relative;
  top: 6px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  border-radius: 3px;
  border: solid 2px #333333;
}

.checkbox__lable::after {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  content: '✔';
  font-size: 20px;
  font-weight: 900;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 3px;
  border-radius: 5px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.checkbox._error .checkbox__lable::before {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.height-input {
  height: 147px;
}

.footer__conteiner {
  background: #2C2C2C;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__column {
  padding: 58px 10px;
}

.footer__button-text {
  padding: 24px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Open Sans;
  font-size: 12px;
  line-height: 22px;
  color: rgba(200, 200, 200, 0.5);
  border-top: 1px solid #4c4848;
}

.footer__title {
  font-family: "TT Hoves";
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.footer-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-info__link {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  margin-top: 16px;
}

.footer-info__link:first-child {
  margin-top: 0;
}

.footer-info__link a {
  font-family: "TT Hoves";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffff;
}

.footer-info__link a:hover {
  text-decoration: underline;
}

.footer-info__link:hover {
  -webkit-transform: translateX(10%);
      -ms-transform: translateX(10%);
          transform: translateX(10%);
}

.footer-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-contacts__location a,
.footer-contacts__number a,
.footer-contacts__e-mail a {
  font-family: "TT Hoves";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffff;
}

.footer-contacts__location {
  max-width: 280px;
  font-family: "TT Hoves";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding-left: 23px;
  color: #ffff;
  margin-bottom: 58px;
  background: url(../img/Local.svg) left top no-repeat;
}

.footer-contacts__number {
  margin-bottom: 25px;
  padding-left: 25px;
  background: url(../img/Phone.svg) left no-repeat;
}

.footer-contacts__e-mail {
  padding-left: 25px;
  background: url(../img/Mail.svg) left no-repeat;
}

.footer-sites__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-sites__link {
  padding: 0px 5px;
  margin: 0px 20px 0px 0px;
}

.footer-logo img {
  max-width: 100%;
}

@-webkit-keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@media (min-width: 768px) {
  .btn:hover {
    -webkit-transition: 00.4s;
    -o-transition: 00.4s;
    transition: 00.4s;
    -webkit-box-shadow: 0px 5px 5px #333333;
            box-shadow: 0px 5px 5px #333333;
    background-color: #555353;
  }

  .slider__btn:hover {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    color: #F2F2F2;
  }

  .slider__btn::before {
    background: #817f7f;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    width: 0%;
    height: 100%;
    opacity: 0;
  }

  .slider__btn:hover::before {
    width: 100%;
    opacity: 1;
    -webkit-box-shadow: 0 5px 5px #2b2a2a;
            box-shadow: 0 5px 5px #2b2a2a;
    color: #fff;
  }

  .info__button:hover {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background-color: #777777;
    color: #F2F2F2;
    -webkit-box-shadow: 0 5px 5px #2b2a2a;
            box-shadow: 0 5px 5px #2b2a2a;
  }

  .project__hover:hover {
    opacity: 1;
    -webkit-animation: bounce 1s;
            animation: bounce 1s;
  }

  .footer-sites__link:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}

@media (max-width: 1440px) {
  .header__container {
    padding: 0px 0px 0px 0px;
  }

  .slider__container {
    padding: 0px 40px;
  }

  .slider__img img {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .header__list li {
    margin: 0px 30px 0px 0px;
  }
}

@media (max-width: 1100px) {
  .info__description {
    line-height: 17px;
    margin: 0 auto;
  }

  .info__button {
    margin: 0 auto;
  }
}

@media (max-width: 970px) {
  .slider__buttons {
    margin: 50px 0px 50px 0px;
  }
}

@media (max-width: 950px) {
  .hover-project__btn {
    margin: 5px 0px 0px 0px;
    font-size: 9px;
  }
}

@media (max-width: 768px) {
  .menu-burger {
    position: relative;
    z-index: 1;
    position: relative;
    width: 30px;
    height: 25px;
  }

  .menu-burger__burger span {
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .menu-burger__burger::after,
  .menu-burger__burger::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    -webkit-transition: 00.5s;
    -o-transition: 00.5s;
    transition: 00.5s;
  }

  .menu-burger__burger::after {
    left: 0;
    top: 0;
  }

  .menu-burger__burger::before {
    bottom: 0;
    left: 0px;
  }

  .menu-burger__burger.active span {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: transparent;
  }

  .menu-burger__burger.active::after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    -webkit-transition: 00.5s;
    -o-transition: 00.5s;
    transition: 00.5s;
    top: 43%;
    background-color: #fff;
  }

  .menu-burger__burger.active::before {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    bottom: 43%;
    -webkit-transition: 00.5s ease 0.0s;
    -o-transition: 00.5s ease 0.0s;
    transition: 00.5s ease 0.0s;
    background-color: #fff;
  }

  .header__menu {
    position: relative;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .header__menu.active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .header__list {
    margin: 70px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: inline-block;
  }

  .header__list a {
    color: white;
  }

  .header__list li {
    color: white;
    margin: 20px 0px 0px 0px;
  }

  .header__list li:last-child {
    margin: 20px 0px 0px 0px;
  }

  .slider__counter {
    margin: 0px 40px 20px 0px;
  }

  .task__text {
    line-height: 26px;
    padding: 3px 10px 0px 140px;
  }

  .project__hover {
    visibility: hidden;
  }

  .project__button {
    right: 5px;
  }

  .forms__title {
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 18px;
  }

  .forms__column:last-child {
    display: none;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column {
    padding: 20px 0px;
  }

  .footer-info__link {
    margin-top: 5px;
  }

  .footer-contacts__location {
    margin-bottom: 28px;
  }

  .footer-sites__link {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .btn {
    width: 111px;
    height: 35px;
  }

  .btn span {
    font-size: 9px;
    line-height: 9px;
    letter-spacing: 0.2;
  }

  .project__title {
    margin-bottom: 0;
    font-size: 43px;
  }

  .project__image {
    margin: 5px 5px;
  }

  .hover-project__content {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .forms__image {
    display: none;
  }
}

@media (max-width: 550px) {
  .slider__btn {
    width: 111px;
    height: 35px;
    font-size: 9px;
    line-height: 9px;
    top: -35px;
  }

  .task__title {
    white-space: nowrap;
    font-size: 36px;
    margin: 40px 0px 0px 0px;
  }

  .task__num {
    font-size: 170px;
  }

  .hover-project__content {
    padding: 10px;
  }
}

@media (max-width: 540px) {
  .slider__container {
    padding: 0px 10px;
  }

  .slider__buttons {
    margin: 20px 0px 10px 0px;
  }
}

@media (max-width: 520px) {
  .info__image2 {
    padding: 0px 0px 0px 40px;
    top: 10px;
  }

  .info__image3 {
    padding: 30px 30px 0px 30px;
  }

  .info__title {
    padding: 0px 10px 0px 30px;
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  .slider__nav span {
    line-height: 30px;
  }

  .slider__prev,
  .slider__next {
    width: 30px;
    height: 30px;
  }
}